.post-banner {}

.post-banner picture {
    height: 300px;
    display: block;
}

p {
    margin: 1em 0;
    line-height: 1.55;
}

.formula-block {
    width: 100%;
    margin: 1em 0;
}

.formula-explanation {
    font-size: smaller;
}

h2 {
    margin: 1em 0;
}

.post-banner img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.post-title {
    text-align: center;
    color: white;
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0.7);
}

code {
    background-color: #2B2B2B;
    color: #A9B7C6;
    display: block;
    margin: 1em 0;
    padding: 1em;
}

.withmp3 {
    position: relative;
}

.withmp3 img {
    padding: 58px 16px;
}



.audio {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

figure {
    /* overflow: scroll; */
}

.post-image {
    width: 100%;
    /* min-width: 600px; */
    margin: 1em auto;
}